.list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0px;
  width: 541px;
  margin: 26px 0px 0px 0px;
}

.ant-pagination {
margin-bottom: 17px;
}
.ant-pagination-item:hover a,
.ant-pagination-item-link:hover {
color: #000000 !important;
}

.ant-pagination-item-link,
.ant-pagination-item {
  background: #ebeef3 !important;
  border: 0px !important;
}

.ant-pagination-item-active {
  background: #1890ff !important;
  border-radius: 4px;
}

.ant-pagination-item-active a {
  color: #ffffff !important;
}

.ant-pagination-options {
	display: none;
}