p {
  margin-bottom: 0px;
}

.list__post {
  display: flex;
  flex-direction: row;
  background: #ffffff;
  justify-content: space-between;
  padding: 15px 14px 24px 19px;
  margin-bottom: 26px;
  box-sizing: border-box;
  box-shadow:
	0px 0.6087964177131653px 2.9332919120788574px 0px #00000005,
	0px 1.4630224704742432px 7.049108028411865px 0px #00000007,
	0px 2.7547414302825928px 13.272845268249512px 0px #00000009,
	0px 4.91398811340332px 23.67648696899414px 0px #0000000b,
	0px 22px 106px 0px #00000012,
	0px 9.19107437133789px 44.28426742553711px 0px #0000000d;
}

.list__post__body {
  margin-right: 85px;
  display: flex;
  flex-direction: column;
  // flex-shrink: 2;
}

.list__post__body__header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: 6px;
}

.list__post__body__header__title {
  color: #1890ff;
  font-size: 20px;
  line-height: 28px;
  margin-right: 13px;
}

.anticon {
  margin-right: 5px;
}

.list__post__body__header__likes {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.list__post__body__tags {
  margin-bottom: 4px;
  max-width: 500px;
}

.list__post__body__description {
  // max-width: 300px;
  word-break: break-all;
}

.ant-tag {
  background: #ffffff;
  color: #00000080 !important;
  border: 1px solid #00000080 !important;
  font-size: 12px !important;
}

.list__post__info {
  display: flex;
}

.list__post__info__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  margin-right: 12px;
}

.list__post__info__text__user-name {
  font-size: 18px;
  line-height: 28px;
}

.list__post__info__text__created-at {
  font-size: 12px;
  line-height: 22px;
  color: #00000080;
}

.list__post__info__image {
  width: 46px;
  height: 46px;
}
